body {
  background-color: #E1BEE7;
}

h1,
h2 {
  color           : #303F9F;
  font-family     : monospace;
  padding         : 20px;
  border          : 10px solid #6A1B9A;
  border-radius   : 48px;
  background-color: #BA68C8;
  width           : 400px;
  margin          : 0 auto 10px;
}

h2 {
  background-color: #64B5F6;
  border-color    : #1565C0;
}
